boost_1_56_0
chat_client/chat_client.opensdf
chat_client/chat_client.sdf
chat_client/ipch/chat_client-d8a67e2/chat_client-5b154c28.ipch
chat_client/chat_client/x64/Debug/chat_client.log
chat_client/chat_client/x64/Debug/chat_client.obj
chat_client/chat_client/x64/Debug/chat_client.pch
chat_client/chat_client/x64/Debug/chat_client.tlog/chat_client.lastbuildstate
chat_client/chat_client/x64/Debug/chat_client.tlog/cl.command.1.tlog
chat_client/chat_client/x64/Debug/chat_client.tlog/CL.read.1.tlog
chat_client/chat_client/x64/Debug/chat_client.tlog/CL.write.1.tlog
chat_client/chat_client/x64/Debug/chat_client.tlog/link.command.1.tlog
chat_client/chat_client/x64/Debug/chat_client.tlog/link.read.1.tlog
chat_client/chat_client/x64/Debug/chat_client.tlog/link.write.1.tlog
chat_client/chat_client/x64/Debug/stdafx.obj
chat_client/chat_client/x64/Debug/vc120.idb
chat_client/chat_client/x64/Debug/vc120.pdb
chat_client/x64/Debug/chat_client.exe
chat_client/x64/Debug/chat_client.ilk
chat_client/x64/Debug/chat_client.pdb
chat_server/chat_server.opensdf
chat_server/chat_server.sdf
chat_server/chat_server/x64/Debug/chat_server.log
chat_server/chat_server/x64/Debug/chat_server.obj
chat_server/chat_server/x64/Debug/chat_server.pch
chat_server/chat_server/x64/Debug/chat_server.tlog/chat_server.lastbuildstate
chat_server/chat_server/x64/Debug/chat_server.tlog/cl.command.1.tlog
chat_server/chat_server/x64/Debug/chat_server.tlog/CL.read.1.tlog
chat_server/chat_server/x64/Debug/chat_server.tlog/CL.write.1.tlog
chat_server/chat_server/x64/Debug/chat_server.tlog/link.command.1.tlog
chat_server/chat_server/x64/Debug/chat_server.tlog/link.read.1.tlog
chat_server/chat_server/x64/Debug/chat_server.tlog/link.write.1.tlog
chat_server/chat_server/x64/Debug/stdafx.obj
chat_server/chat_server/x64/Debug/vc120.idb
chat_server/chat_server/x64/Debug/vc120.pdb
chat_server/ipch/chat_server-ba979b2a/chat_server-c2232d40.ipch
chat_server/x64/Debug/chat_server.exe
chat_server/x64/Debug/chat_server.ilk
chat_server/x64/Debug/chat_server.pdb
chat_server/chat_server/x64/Debug/chat.obj
chat_server/chat_server/x64/Debug/chat_participant.obj
chat_server/chat_server/x64/Release/chat.obj
chat_server/chat_server/x64/Release/chat_participant.obj
chat_server/chat_server/x64/Release/chat_server.log
chat_server/chat_server/x64/Release/chat_server.obj
chat_server/chat_server/x64/Release/chat_server.pch
chat_server/chat_server/x64/Release/chat_server.tlog/chat_server.lastbuildstate
chat_server/chat_server/x64/Release/chat_server.tlog/cl.command.1.tlog
chat_server/chat_server/x64/Release/chat_server.tlog/CL.read.1.tlog
chat_server/chat_server/x64/Release/chat_server.tlog/CL.write.1.tlog
chat_server/chat_server/x64/Release/chat_server.tlog/link.command.1.tlog
chat_server/chat_server/x64/Release/chat_server.tlog/link.read.1.tlog
chat_server/chat_server/x64/Release/chat_server.tlog/link.write.1.tlog
chat_server/chat_server/x64/Release/stdafx.obj
chat_server/chat_server/x64/Release/vc120.pdb
chat_server/ipch/chat_server-ba979b2a/chat_server-2f21edba.ipch
chat_server/x64/Release/chat_server.exe
chat_server/x64/Release/chat_server.pdb
chat_server/chat_server/x64/
chat_client/chat_client/x64/
chat_client/x64/
chat_client/ipch/
common/x64/
chat_server/x64/
chat_server/ipch/
boost_1_56_0_x86
chat_client/chat_client/Release/
chat_client/Release/
chat_server/chat_server/Release/
chat_server/Release/
common/messages/generated/
common/Release/
protobuf
3rdParty
